<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>addmovie</title>

  </head>
  <body>
    <div class="login-page">
  <div class="form">
    <h2>Add movies</h2>
  <form class="register-form" method="POST" action="/addmovie">
      <input name="mname" type="text" placeholder="Moviename"/>
      <input name="mdesc" type="text" placeholder="Description"/>
      <input name="mdirection" type="text" placeholder="directon"/>
      <input name="duration" type="time" placeholder="duration"/>
      <button>Add</button>
      <p class="message"><a href="/homepage">Go Back</a></p>
    </form>
  </div>
</div>
<script type="text/javascript">

</script>

  </body>
</html>
