<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>

  </head>
  <body>
    <div class="login-page">
  <div class="form">
    <h2>Login</h2>
  <form class="register-form" method="POST" action="/addtiming">
    <input name="mname" type="text" placeholder="movie name"/>
    <input name="start_time" type="time"/>
    <input name="end_time" type="time" />
    <input name="ticket_price" type="number" placeholder="price"/>
    <input name="total_ticket" type="number" placeholder="ticket total"/>
    <button>Add</button>
    <p class="message"><a href="/homepage">Go Back</a></p>
    </form>
  </div>
</div>
<script type="text/javascript">

</script>

  </body>
</html>
