<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>tickets</title>

  </head>
  <body>
    <div class="login-page">
  <div class="form">
    <h2>BuyTickets</h2>
  <form class="register-form" method="POST" action="/buytickets">
    <input name="mname" type="text" placeholder="Movie name"/>
    <input name="time" type="time"/>
    <input name="no_tickets" type="text" placeholder="no. of tickets"/>
    <button>Add</button>
    <p class="message"><a href="/homepage">Go Back</a></p>
    </form>
  </div>
</div>
<script type="text/javascript">

</script>

  </body>
</html>
